:root {
    /*Primary Colors*/
    --very-dark-blue: hsl(233, 47%, 7%); /*Main Background*/
    --dark-desaturated-blue: hsl(244, 38%, 16%); /*card background*/
    --soft-violet: hsl(277, 52%, 48%); /*Accent*/
    
    /*Neutral Colors*/
    --white: hsl(0, 0%, 100%); /*Main heading, stats*/
    --slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75); /*Main Paragraph*/
    --slightly-transparent-white-h: hsla(0, 0%, 100%, 0.6); /*Stat Headings*/

    /*font-weights*/
    --bold: 400;
    --bolder: 700;
}

/*
font-family: 'Inter', sans-serif; 400 & 700
font-family: 'Lexend Deca', sans-serif; 400
*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 15px;
    height: 93%;
}

main, .car__header, .card__header__image {
    width: 100%;
}

main {
    background: var(--very-dark-blue);
    padding: 4rem 0;
}

.card, .card__details__title {
    margin: 0 auto;
}

.card__header, .card__header__image {
    border-radius: 15px 15px 0 0;
}

.card {
    width: 90%;
    background: var(--dark-desaturated-blue);
    border-radius: 15px;
}

.card__header {
    height: 26vh;
    background: var(--soft-violet);
}

.card__header__image {
    height: 100%;
    opacity: .5;
}

.card__details {
    text-align: center;
    margin-top: 2rem;
}

.card__details__title {
    color: var(--white);
    width: 75%;
    font-family: 'Inter', sans-serif;
    font-size: 1.7rem;
}

.card__details__title span {
    color: var(--soft-violet);
}

.card__details__text {
    color: var(--slightly-transparent-white-h);
    width: 75%;
    margin: 1.3rem auto 2rem auto;
    font-family: sans-serif;
    line-height: 1.5rem;
    font-size: .9rem;
}

.card__details__stats {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 750px) {

    main {
        height: 97.5%;
    }
    
    .card {
        display: flex;
        flex-direction: row-reverse;
        width: 75%;
        margin: 7rem auto;
    }

    .card__header, .card__header__image {
        border-radius: 0 15px 15px 0;
    }

    .card__header {
        height: auto;
        width: 45%;
    }

    .card__header__image {
        height: 100%
    }

    .card__details {
        width: 40%;
        margin: 0 auto;
        padding: 5rem 0;
        text-align: left;
    }

    .card__details__title {
        font-size: 1.9rem;
    }

    .card__details__stats {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.card__details__stats__text {
    color: var(--slightly-transparent-white-h);
    font-family: 'Inter', sans-serif;
    font-size: .65rem;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
}

.card__details__stats__text span {
    color: var(--slightly-transparent-white-p);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: normal;
    display: inline-block;
    margin-bottom: 5px;
}
